<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: cabecalho('Editar Animal')}" />
  <body>

  <div th:replace="~{fragmentos :: funcao-logout}" />

    <div class="container">
        <div class="row">
            <h1>Editar Animal</h1>
        </div>
        <div class="row">

            <form th:object="${animal}" th:action="@{/animais/atualizar/{id}(id = ${animal.id_animal})}" method="post">

            Nome: <input class="form-control" type="text" th:field="*{nm_animal}"
            th:errorclass="is-invalid"><br>
            <div class="invalid-feedback" th:errors="*{nm_animal}"></div><br>

            Espécie: <input class="form-control" type="text" th:field="*{especie}"
            th:errorclass="is-invalid"><br>
            <div class="invalid-feedback" th:errors="*{especie}"></div><br>

            Raça: <input class="form-control" type="text" th:field="*{raca}"><br>

            Sexo:
            <select class="form-select" th:field="*{sexo}">
            	<option value="M">Macho</option>
            	<option value="F">Fêmea</option>
            </select><br>

            Idade: <input class="form-control" type="number" th:field="*{idade}"><br>

            Peso (kg): <input class="form-control" type="number" step="0.01" th:field="*{peso}"><br>

            Data de Nascimento: <input class="form-control" type="date" th:field="*{dt_nascimento}"
            th:errorclass="is-invalid"><br>
            <div class="invalid-feedback" th:errors="*{dt_nascimento}"></div><br>

            Responsável:
            <select class="form-select" name="id_responsavel">
            	<option th:each="responsavel : ${lista_responsaveis}" th:value="${responsavel.id_responsavel}"
            	 th:text="${responsavel.nm_responsavel}"
            	 th:selected="${animal.responsavel != null and animal.responsavel.id_responsavel == responsavel.id_responsavel}"></option>
            </select><br>

            <input type="hidden" name="_csrf" th:value="${_csrf.token}">

            <button type="submit">Salvar</button>

            </form>

        </div>
        <div class="row">
            <a href="/animais">Voltar</a>
        </div>
    </div>

<script th:replace="~{fragmentos :: bootstrap-script}" />

</body>
</html>