<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: cabecalho('Animais')}" />
  <body>

  <div th:replace="~{fragmentos :: funcao-logout}" />

    <div class="container">
        <div class="row">
            <h1>Animais Cadastrados</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Espécie</th>
                            <th scope="col">Raça</th>
                            <th scope="col">Responsável</th>
                            <th scope="col">#</th>
                            <th scope="col">#</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="animal : ${animais}">
                            <td th:text="${animal.nm_animal}"></td>
                            <td th:text="${animal.especie}"></td>
                            <td th:text="${animal.raca}"></td>
                            <td th:text="${animal.responsavel != null ? animal.responsavel.nm_responsavel : 'Sem responsável'}"></td>
                            <td><a th:href="@{/animais/detalhes/{id}(id = ${animal.id_animal})}">Detalhes</a></td>
                            <td><a th:href="@{/animais/editar/{id}(id = ${animal.id_animal})}">Editar</a></td>
                            <td><a th:href="@{/animais/remover/{id}(id = ${animal.id_animal})}">Remover</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <a href="/animais/novo">Cadastrar Animal</a><br>
            <a href="/home">Home Page</a>
        </div>
    </div>

  <script th:replace="~{fragmentos :: bootstrap-script}" />

  </body>
</html>