<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: cabecalho('Detalhes da Consulta')}" />
  <body>

  <div th:replace="~{fragmentos :: funcao-logout}" />

    <div class="container">
        <div class="row">
            <h1>Detalhes da Consulta</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">

                <tr>
	                <td><b>Animal:</b></td>
	                <td th:text="${consulta.animal != null ? consulta.animal.nm_animal : '-'}"></td>
                </tr>

                <tr>
	                <td><b>Veterinário:</b></td>
	                <td th:text="${consulta.veterinario != null ? consulta.veterinario.nm_veterinario : '-'}"></td>
                </tr>

                <tr>
	                <td><b>Data do Agendamento:</b></td>
	                <td th:text="${#temporals.format(consulta.dt_agendamento,'dd/MM/yyyy')}"></td>
                </tr>

                <tr>
	                <td><b>Data da Consulta:</b></td>
	                <td th:text="${#temporals.format(consulta.dt_consulta,'dd/MM/yyyy')}"></td>
                </tr>

                </table>
            </div>
        </div>
        <div class="row">
            <a href="/consultas">Voltar</a>
        </div>
    </div>

  <script th:replace="~{fragmentos :: bootstrap-script}" />

   </body>
</html>