<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: cabecalho('Doenças')}" />
  <body>

  <div th:replace="~{fragmentos :: funcao-logout}" />

    <div class="container">
        <div class="row">
            <h1>Doenças Cadastradas</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Contagiosa</th>
                            <th scope="col">#</th>
                            <th scope="col">#</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="doenca : ${doencas}">
                            <td th:text="${doenca.nm_doenca}"></td>
                            <td th:text="${doenca.tipo}"></td>
                            <td th:text="${doenca.contagiosidade == 'S'} ? 'Sim' : 'Não'"></td>
                            <td><a th:href="@{/doencas/detalhes/{id}(id = ${doenca.id_doenca})}">Detalhes</a></td>
                            <td><a th:href="@{/doencas/editar/{id}(id = ${doenca.id_doenca})}">Editar</a></td>
                            <td><a th:href="@{/doencas/remover/{id}(id = ${doenca.id_doenca})}">Remover</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <a href="/doencas/nova">Cadastrar Doença</a><br>
            <a href="/home">Home Page</a>
        </div>
    </div>

  <script th:replace="~{fragmentos :: bootstrap-script}" />

  </body>
</html>