<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: cabecalho('Vacinas')}" />
  <body>

  <div th:replace="~{fragmentos :: funcao-logout}" />

    <div class="container">
        <div class="row">
            <h1>Vacinas Cadastradas</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">#</th>
                            <th scope="col">#</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="vacina : ${vacinas}">
                            <td th:text="${vacina.nm_vacina}"></td>
                            <td th:text="${vacina.tipo}"></td>
                            <td><a th:href="@{/vacinas/detalhes/{id}(id = ${vacina.id_vacina})}">Detalhes</a></td>
                            <td><a th:href="@{/vacinas/editar/{id}(id = ${vacina.id_vacina})}">Editar</a></td>
                            <td><a th:href="@{/vacinas/remover/{id}(id = ${vacina.id_vacina})}">Remover</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <a href="/vacinas/nova">Cadastrar Vacina</a><br>
            <a href="/home">Home Page</a>
        </div>
    </div>

  <script th:replace="~{fragmentos :: bootstrap-script}" />

  </body>
</html>